.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Hacemos todos los estilos personalizados*/
.contenedor-pantalla {
  min-height: 100vh;
}

header {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #005B99 !important;
  font-size: xx-large;
}


.contenedor-scrollable {
  margin-top: 10vh;
  min-width: 0;
  overflow-y: auto;
}

.contenedor-main {
  min-height: 90vh;
  min-width: 0;
}

.contenedor-prinipal {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; 
}

.contenedor-form-inicio{
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; 
}

.contenedor-derecho-imagen-inicio {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; 
}


.contenedor-columna{
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; 
  padding-top: 0 !important;
}



.texto-azul {
  color: #005B99;
  font-family: 'Iknut Antiqua', serif;
  font-weight: bold;
}

.texto-negro {
  color: black;
  font-family: 'Iknut Antiqua', serif;
  font-weight: bold;
}

.texto-blanco {
  color: white;
  font-family: 'Iknut Antiqua', serif;
  font-weight: bold;
}


.boton-verde{
  background-color: #4CAF50 !important;  
  color: white !important;
  font-family: 'Iknut Antiqua', serif !important;
  font-weight: bold !important;
}

.boton-azul{
  background-color: #005B99 !important;  
  color: white !important;
  font-family: 'Iknut Antiqua', serif !important;
  font-weight: bold !important;
}

.boton-rojo{
  background-color: #B3261E !important;  
  color: white !important;
  font-family: 'Iknut Antiqua', serif !important;
  font-weight: bold !important;
}

.boton-blanco{
  background-color: white !important;  
  color: #005B99 !important;
  font-family: 'Iknut Antiqua', serif !important;
  font-weight: bold !important;
}

.barra-progreso-azul{  
  background-color: #005B99 !important;
}

.barra-progreso-blanca{  
  background-color: white !important;
}

.imagen-swal{
  max-width: 50%;
}

.toast-grid {
  max-width: none !important; 
  width: 100% !important;     
}

@media (min-width: 768px) {
  .toast-grid {
    width: 50% !important;   
  }
}

@media (min-width: 1200px) {
  .toast-grid {
    width: 25% !important;   
  }
}

input{
  height: 50px;
}


#card-menu{
  background-color: #005B99 !important;
  min-height: 90%;
}

.link-card-menu {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.link-card-menu:hover {
    background-color: rgba(255, 255, 255, 0.15);
    /* más opaco */
}

.link-card-menu:hover,
.link-card-menu.activo {
  background-color: rgba(255,255,255,0.1);
  border-radius: 8px;
  cursor: pointer;
}



#card-datos-perfil{  
  background-color: white !important;
}


.offcanvas-azul{
  background-color: #005B99 !important;
}


.contenedor-datos-paciente-carga{
  background-color:white !important;
}



input[type="file"]::file-selector-button {
  background-color: #005B99;  
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

